h1::first-letter{
    font-size:1.5em;
    color:red;
}
.button1{
    width:80px;
    height:40px;
    display:flex;
    background-color: greenyellow;
    color:black;
    justify-content: center;
    align-items:center;
    border-radius: 8px;
}
.button1:hover{
    background-color: green;
    transition:0.5s;
}
.button{
    display: flex;
    justify-items: center;
    align-items: center;
}

.progressBar {
    width: 400px;
    background-color: azure;
    margin-top: 20px;
    border: 0.8px solid;
    border-radius: 8px;
    margin-bottom: 20px;
}

.progressBar::before {
    content: "";
    background-color: green;
    width: 0;
    height: 8px;
    display: block;
    transition: all ease .7s;
}

.progressBar:hover::before{
    width: 400px;
    height: 8px;
}

img{
    height:280px;
    width:450px;
}
.pic{
    width:450px;
    height:280px;
    position: relative;
    margin-bottom: 20px ;
}
.pic::before{
    content: "View details";
    position: absolute;
    background: black;
    opacity: .0;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease .6s;
}
.pic:hover::before{
    opacity: 0.6;
}
.toolTip{
    color: blue;
    width:120px;
    height:20px;
}
.toolTip:after{
    content: "tooltip text";
    opacity: 0;
}
.toolTip:hover{
    opacity: 1;
    content:"tooltip text";
    background-color:gray;
}